*{
	margin:0;
	padding:0;
}

body {
 background-color:lavenderblush;
}

.space{
	width: 80%;
	margin: 0 auto;
	height: 30px;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}



.posts{
	width: 500px;
	border: 1px solid lightgrey;
	background-color: lightyellow;
	float:left;
	height: 325px
}

#post1, #post2, #post3, #post4{
	margin-right:10px;
	margin-top: 10px;
}

.news{
	float:left;
	width:100%;
	padding:20px auto;
}

div.desc {
    padding: 10px 35px;
    text-align: justify;
    color: dimgrey;
}

.postimage{
	width:225px;
	height:150px ;
    margin: 0 auto; 
}

.posttitle{
	padding:20px auto;
	margin: 10px 35px 5px;
	font-size: 13px;
	color: teal;
	text-align: left: 
}

.line{
		float:left;
	width: 100%;
	border: 0.5px solid lightgrey;
	margin: 20px auto;

}

.brain{
float:right;
margin: 0 20px;
	text-align: center;
	border: 1px solid lightgrey;
    border-radius: 3px;
    padding:3px;
}

.riskfactors {
	float:left;
    margin-right: 20px;
	text-align: center;
	border: 1px solid lightgrey;
    border-radius: 3px;
    padding:3px;
}

.age {
    float: right;
    width:400px;
    margin-right: 20px;
	text-align: center;
	border: 1px solid lightgrey;
    border-radius: 3px;
    padding:3px;
    /*overflow: auto;*/
}


ul {
list-style-position:inside;
padding: 0 0 0 15px;
}

figcaption {
	color:grey;
	font-size: 14px;
}
