*{
	margin:0;
	padding:0;
}

.wrapper {
	width: 100%;
	text-align: center;	
}

div {
	display: inline-block;
}

.news{
	padding: 30px;
}

.posts{
	width: 300px;
	border: 1px solid;
	background-color: lightyellow;
	float:left;
	height: 400px
}

#post1, #post2, #post3, #post4{
	margin-right:20px;
}

div.desc {
    padding: 20px 10px;
    text-align: center;
}

.gallery {
	padding: 0px;
}

.postimage{
	border: 3px solid;
	height:150px;
	margin: 0 auto;
}
