#nav{
	text-align: center;
	width: 85%;
	background-color: transparent;
	margin: auto;	
}

#nav li{
	display: inline-block;
	margin: 1px 3px 1px;
	font-size: 120%;
}

#nav ul li a{
	color: #800080;
}
#nav li:hover {
	transform: scale(1.25);
}

#navheader{
	text-align: center;	
	margin: 4px auto 4px;
}
